/* _post */
.page.clearfix {
    width: 1140px;
    box-sizing: border-box;
    margin: 25px auto;
}

.page .left {
    width: 75%;
    float: left;
    padding: 20px 30px;
    line-height: 1.6;
    font-size: 16px;
    background-color: #f8f8fd;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 0 30px rgba(10,10,0,0.1) inset;
}

.page .left ul>h2 {
    margin-left: -40px;
    color: #6a6b6b;
    font-size: 26px;
    border-bottom: 1px solid #eee;
    margin: 50px 0 25px;
}


.page .left ul li {
    line-height: 1.8;
    color: #888888;
}

body, html, div, header, footer, nav, li, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page .left ul li time {
    display: inline-block;
    width: 135px;
}

.page .left ul li .title {
    font-weight: bold;
    color: #223253;
    transition: 0.3s ease;
}

.page .left a:not([title]) {
    word-break: break-all;
}

.page .left ul li .pageTag a:hover {
    background-color: #c0ddc7;
}

.page .left ul li .pageTag a {
    padding: 0 5px;
    background-color: #c6cbe9;
    border-radius: 4px;
    color: #fff;
    font-size: 90%;
    transition: 0.3s ease;
}

.page .left ul li .categories {
    padding: 0 15px;
}

.page .left ul li .categories i {
    color: #9e9d9d;
}

.page .left ul li i {
    margin-right: 5px;
}

.page .left ul li .categories a {
    padding: 0 5px;
    background-color: #9e9d9d;
    color: #fff;
    font-size: 90%;
    transition: 0.3s ease;
}

.page .left ul li .pageTag i {
    color: #c6cbe9;
}

.page .anchor {
    display: none;
}

.page .right {
    float: left;
    width: 25%;
    padding-left: 20px;
    top: 0;
}

.page .right .fixed {
    position: fixed;
    top: 20px;
}

.page .right .side {
    box-sizing: border-box;
    background-color: #f8f8fd;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3), 0 0 30px rgba(10,10,0,0.1) inset;
    padding-bottom: 1px;
    -ms-word-break: break-all;
    word-break: break-all;
}
	
.page .right .side>div {
    padding: 12px 15px;
    border-bottom: 1px solid #c0c0c0;
    font-size: 16px;
    font-weight: bold;
}

.page .right .content-ul {
    overflow-y: auto;
    padding-right: 10px;
    line-height: 1.8;
    padding-left: 35px;
}

.page .right .side a {
    color: #4d6dad;
    transition: 0.5s ease;
}

.page .right .side>div {
    padding: 12px 15px;
    border-bottom: 1px solid #c0c0c0;
    font-size: 16px;
    font-weight: bold;
}

.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
