<!DOCTYPE html>
<html lang="en">
	<head>

		<link rel="stylesheet" type="text/css" href="https://nengwuzhi.github.io/css/component.css" />
	
	</head>
	<body>
		<div>	
			
                                     <div id="tabs" class="tabs">
				<nav>
					<ul>
						<li><a href="#section-1"> <img src="images/Home-40.png"><span> 主页</span></a></li>
						<li><a href="#section-2"> <img src="images/Autumn-40.png"><span> 推荐</span></a></li>
						<li><a href="#section-3" class="icon-food"><span>Food</span></a></li>	
					</ul>
				</nav>
			 <div style='clear: both'></div>
					<div class="content">
					<section id="section-1">
						<div id='posts' class="leftblock">
				<ul>
					  {% for cat in site.categories %}
					{% for post in cat[1] %}
						<li class='post'>
							{% if post.image %}
								<a href='{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
							{% endif %}
							<div class="postcontent">
					<a href='{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>

								<div class='post-content'>{{post.summary}}</div>
							</div>
						</li>
					{% endfor %}
					{% endfor %}
				</ul>	
					</section>
						
					<section id="section-2">
					<ul>
					 {% for post in site.categories.tuijian %}
					{% for post in cat[1] %}
						<li class='post'>
							{% if post.image %}
								<a href='{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
							{% endif %}
							<div class="postcontent">
					<a href='{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>

								<div class='post-content'>{{post.summary}}</div>
							</div>
						</li>
					{% endfor %}
					{% endfor %}
				</ul>	
						
					</section>
					<section id="section-3">
						
					</section>
				   </div>	
				</div><!-- /content -->
			</div><!-- /tabs -->

		</div>
		<script src="https://nengwuzhi.github.io/js/cbpFWTabs.js"></script>
		<script>
			new CBPFWTabs( document.getElementById( 'tabs' ) );
	</script>
   </div>	
	</body>
</html>
