<!DOCTYPE html>
<html>
	<head>

		<link rel="stylesheet" type="text/css" href="/css/component.css" />
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>

			<div id="tabs" class="tabs">
				<nav>
					<ul>
						<li><a href="#section-1"> <img src="images/Home-40.png"><span> 全部</span></a></li>
						<li><a href="#section-2"> <img src="images/Autumn-40.png"><span> 推荐</span></a></li>
						<li><a href="#section-3"> <img src="images/User-40.png"><span> 媒体音乐</span></a></li>
						
					</ul>
				</nav>
				<div class="content">
					<section id="section-1">
						<div id='posts' class="card-columns">
				<ul>
					  {% for cat in site.categories %}
					{% for post in cat[1] %}
						<li class='post'>
							{% if post.image %}
								<a href='{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
							{% endif %}
							<div class="postcontent">
					<a href='{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>

								<div class='post-content'>{{post.summary}}</div>
							</div>
						</li>
					{% endfor %}
					{% endfor %}
				</ul>
			  </div>
						</section>
					
					<section id="section-2">
						<div id='posts' class="card-columns">
				<ul>
		       {% for post in site.categories.blog %}
						<li class='post'>
							{% if post.image %}
								<a href='{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
							{% endif %}
							<div class="postcontent">
					<a href='{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>

								<div class='post-content'>{{post.summary}}</div>
							</div>
						</li>
					{% endfor %}
				</ul>	
						</div>
					</section>
					<section id="section-3">
						<div class="col-lg-8">
							<div id='posts' class="card-columns">
				<ul>
		       {% for post in site.categories.video %}
						<li class='post'>
							{% if post.image %}
								<a href='{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
							{% endif %}
							<div class="postcontent">
					<a href='{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>

								<div class='post-content'>{{post.summary}}</div>
							</div>
						</li>
					{% endfor %}
					</div>
					</div>			
					<div class="col-lg-4">
					{% include music-Player.html %}
					</div>
				</ul>	
						
					</section>
					
				</div><!-- /content -->
			</div><!-- /tabs -->
		</div>
		<script src="js/cbpFWTabs.js"></script>
		<script>
			new CBPFWTabs( document.getElementById( 'tabs' ) );
		</script>
	</body>
</html>
