<!--<div id='heading'>-->
	<!--AM Menu Start-->
<header class="am-header">
   <div class="logo" title="Place for your Logo">AM Menu</div>
   <div class="search-trigger">
      <div class='s-wrapper'>
         <div id='circle'></div>
         <div id='bar'></div>
      </div>
   </div>
   <!--Search-trigger-->
   <div class="search-container">
      <div class="search-box">
         <div class="search-icon">
            <i class="fa fa-search search-icon"></i>
         </div>
         <form action="#search_page_link" class="search-form">
            <input type="text" name="q" placeholder="Search" id="search" autocomplete="off">
         </form>
      </div>
      <!--//search-box-->
   </div>
   <!--//search-container-->
   <!--Menu Icon-->
   <div class="menu-trigger"></div>
</header>


<nav class="am-container sidebar">
   <h3> Photo Gallery  </h3>
   <ul class="grid-items">
     <img src="https://source.unsplash.com/200x100/?girl" >
    
   </ul>
   
 
   <h3>Colorful Cloud Tags</h3>
   <ul class="cloud-tags">
   {% assign first = site.tags.first %}
                    {% assign max = first[1].size %}
                    {% assign min = max %}
                    {% for tag in site.tags offset:1 %}
                      {% if tag[1].size > max %}
                        {% assign max = tag[1].size %}
                      {% elsif tag[1].size < min %}
                        {% assign min = tag[1].size %}
                      {% endif %}
                    {% endfor %}
                    {% if max == min %}
                        {% assign diff = 1 %}
                    {% else %}
                        {% assign diff = max | minus: min %}
                    {% endif %}

                    {% for tag in site.tags %}
                      {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
                      {% assign base = temp | divided_by: 4 %}
                      {% assign remain = temp | modulo: 4 %}
                      {% if remain == 0 %}
                        {% assign size = base | plus: 9 %}
                      {% elsif remain == 1 or remain == 2 %}
                        {% assign size = base | plus: 9 | append: '.5' %}
                      {% else %}
                        {% assign size = base | plus: 10 %}
                      {% endif %}
                      {% if remain == 0 or remain == 1 %}
                        {% assign color = 9 | minus: base %}
                      {% else %}
                        {% assign color = 8 | minus: base %}
                      {% endif %}
                      <a href="{{ root_url }}/#{{ tag[0] }}" style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
                    {% endfor %}
   </ul>
</nav>

<!-- End AM Mega Menu结束AM大菜单 -->
	
     


<!-- Slider -->
      <div class="slide-window">
        <div class="slide-wrapper" style="width: 300%;">
       <div class="slide">
            <a href="#" target="">
              <div class="slide-image" style="background-image: url(https://picsum.photos/id/1047/1300/900)">
              </div>
              <div class="slide-caption">
                <h2>1</h2>
                <p>来过红墙吗？</p>
              </div>
            </a>
          </div>
          <div class="slide">
            <a href="#" target="">
              <div class="slide-image" style="background-image: url(https://picsum.photos/id/177/1300/900)">
              </div>
              <div class="slide-caption">
                <h2>精通</h2>
                <p>Mastery takes a little time. Give your heart the sun light and grow carefuly.</p>
              </div>
            </a>
          </div>
          <div class="slide">
            <a href="#" target="_blank">
              <div class="slide-image" style="background-image: url(https://source.unsplash.com/1300x900/?buddha)">
              </div>
              <div class="slide-caption">
                <h2>PURPOSE</h2>
                <p>有目标的人可以享受生活。因此，它比任何人成长得都快，而且能够做出贡献。</p>
              </div>
            </a>
          </div>
        </div>
        <div class="slide-controller">
          <div class="slide-control-left">
            <div class="slide-control-line"></div>
            <div class="slide-control-line"></div>
          </div>
          <div class="slide-control-right">
            <div class="slide-control-line"></div>
            <div class="slide-control-line"></div>
          </div>

        </div>
      </div>
    </div>

      <!--end slider-->



