	<head>
		<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0" />
                <link rel="shortcut icon" href="/images/favicon.png?" type="image/x-icon">
		<link rel="icon" href="/images/favicon.png?" type="image/x-icon">
                    <link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/am-menu-main.css">
		<link rel="stylesheet" type="text/css" href="/css/monokai.css">
		<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
		<title>{{site.blog_title}}</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		 <script type="text/javascript" src='/js/jquery.min.js'></script>

		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

		<script type="text/javascript" src='/js/bootstrap.min.js'></script>

		<style type="text/css">
		</style>
			
		   <!--Font-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
     
		
		<!--jQuery-->
   <!--AM Menu Plugin Script-->
   <script src="js/am-menu.js"></script>
   <!--AM Menu Main Script-->
   <script src="js/am-menu-main.js"></script>
   <!--AM Menu CSS-->
   <link rel="stylesheet" href="css/am-menu.css" />
	

  <!-- Slider Styles -->
    <link rel="stylesheet" href="css/slider.css">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
 

<!-- Slider Scripts -->

    <script type="text/javascript" src="js/slider.js"></script>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
		
</head>
