<div class="post-recent">
    <div class="pre">
        {% if page.previous %}
        <p><strong>上一篇</strong> <a href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a></p>
        {% endif %}
    </div>
    <div class="nex">

        {% if page.next %}
        <p><strong>下一篇</strong> <a href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a></p>
        {% endif %}
    </div>
</div>

<nav class="pagination loop-pagination clearfix"> <h3 class="assistive-text">Post navigation</h3><span class="page-numbers current">1</span>
<a class="page-numbers" href="http://www.shellycooperdesign.com/page/2/">2</a>
<a class="next page-numbers" href="http://www.shellycooperdesign.com/page/2/">Next <span class="meta-nav">→</span></a></nav>
