<!DOCTYPE html>
<html>
 <head>
	 {% include head.html %}

</head>

	<body>
		<div id='layout'>
		
			<div style='clear: both'></div>
		</div>
		<div>
		<div id='content'>

			<div id='page'>
				<h1 id='page-title'>{{page.title}}</h1>
				{{content}}
                 
				{% include comment.html %}
				 {% include previousAndNext.html %}
				
			</div>

			<div style='clear:both'></div>
			</div>
			   {% include navi.html %}
			 {% include footer.html %}
			<div id="app"></div>
<!-- 加载 cplayer 脚本 -->
<script src="https://cdn.jsdelivr.net/npm/cplayer/dist/cplayer.min.js"></script>
<script>
  let player = new cplayer({
    element: document.getElementById('app'),
    playlist: [
      {
        src: '歌曲资源链接...',
        poster: '封面链接...',
        name: '歌曲名称...',
        artist: '歌手名称...',
        lyric: '歌词...',
        sublyric: '副歌词，一般为翻译...'
      },
      {
        ...
      },
      ......
    ]
  })
</script>
	                
</body>
</html>



