<html>
	
{% include head.html %}
	<body>
		<div id='layout'>
		


			<div style='clear: both'></div>
		</div>
		<div id='content'>

			<div id='page'>
				<h1 id='page-title'>{{page.title}}</h1>
				{{content}}

				{% include comment.html %}

			</div>

			<div style='clear:both'></div>
		</div>
		<div id='footer'>
			{{site.full_name}} - {{site.copyright_year}}
		</div>
	</div>

	<!--jquery-progress-indicator进度条-->
<style>
body {
  padding: 10px 10px;
}
</style>

<script src="http://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="js/jquery-progress-indicator-1.0.6.js"></script>
<script>
    $.progressIndicator({
		barColor: 'rgb(191,38,60)  ',
		percentageEnabled : true});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	
	
</body>
</html>
