<!DOCTYPE html>
<html>
<head>
		     {% include head.html %}
	    
	
	</head>

	<body>
		<div id='layout'>
			<!--<div id='heading'>-->

			{% include header.html %}
			
			<div style='clear: both'></div>
		</div>
		<div id='content' class="hp">
			<div id='posts' class="leftblock">
				<ul>
					  {% for cat in site.categories %}
					{% for post in cat[1] %}
						<li class='post'>
							{% if post.image %}
								<a href='{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
							{% endif %}
							<div class="postcontent">
					<a href='{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>

								<div class='post-content'>{{post.summary}}</div>
							</div>
						</li>
					{% endfor %}
					{% endfor %}
				</ul>
			</div>
			
			<nav class="pagination loop-pagination clearfix"> <h3 class="assistive-text">Post navigation</h3><span class="page-numbers current">1</span>
<a class="page-numbers" href="http://www.shellycooperdesign.com/page/2/">2</a>
<a class="next page-numbers" href="http://www.shellycooperdesign.com/page/2/">Next <span class="meta-nav">→</span></a></nav>
			
			
		<!-- 标签<div class="rightblock">
				{% include sidebar.html %}
			</div>...-->
			<div style='clear:both'></div>
		</div>
		<div id='footer'>
			<a href="/about/">About</a> | {{site.full_name}} - {{site.copyright_year}}
		</div>
	</div>
</body>
</html>
   
