<html>
{% include head.html %}
	<body>
		<div id='layout'>
			{% include header.html %}
			<div style='clear: both'></div>
		</div>
		<div id='content' class="hp">
			<div id='posts' class="leftblock">
				<ul>
					{% for post in site.categories.blog %}
						<li class='post'>
							{% if post.image %}
								<a href='{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
							{% endif %}
							<div class="postcontent">
					<a href='{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>

								<div class='post-content'>{{post.summary}}</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		<!-- 标签<div class="rightblock">
				{% include sidebar.html %}
			</div>...-->
			<div style='clear:both'></div>
		</div>
		<div id='footer'>
			<a href="/about/">About</a> | {{site.full_name}} - {{site.copyright_year}}
		</div>
	</div>
</body>
</html>
   <!--jQuery-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <!--AM Menu Plugin Script-->
   <script src="js/am-menu.js"></script>
   <!--AM Menu Main Script-->
   <script src="js/main.js"></script>
   <!--AM Menu CSS-->
   <link rel="stylesheet" href="css/am-menu.css" />
	

  <!-- Slider Styles -->
    <link rel="stylesheet" href="css/slider.css">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
 

<!-- Slider Scripts -->

    <script type="text/javascript" src="js/slider.js"></script>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
		
