<!DOCTYPE html>
<html>
<head>
		     {% include head.html %}
		
	
	
	</head>

	<body>
		<div id='layout'>
			<!--<div id='heading'>-->

			{% include header.html %}
			
			<div style='clear: both'></div>
		</div>
		<div id='content' class="hp">
			<div id='posts' class="leftblock">
				<ul>
					{% for post in site.categories.blog %}
						<li class='post'>
							{% if post.image %}
								<a href='{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
							{% endif %}
							<div class="postcontent">
					<a href='{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>

								<div class='post-content'>{{post.summary}}</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		<!-- 标签<div class="rightblock">
				{% include sidebar.html %}
			</div>...-->
			<div style='clear:both'></div>
		</div>
		<div id='footer'>
			<a href="/about/">About</a> | {{site.full_name}} - {{site.copyright_year}}
		</div>
	</div>
</body>
</html>
   
